.cityList{
	padding: 0 5px;
}

.cityItem  {
	white-space: nowrap;
	margin-right: 9px;
	line-height: 18px;
	color: #3d6dcc;
	text-decoration: none;
	margin-right: 5px;
	*margin-right: 1px;
}
.cityItem:hover {
	text-decoration: underline;
}

@-webkit-keyframes
			pulse
			{
			0%
			{
			opacity: 1.0;

			}
			45%
			{
			opacity: .20;

			}
			100%
			{
			opacity: 1.0;

			}
			}
			@-moz-keyframes
			pulse
			{
			0%
			{
			opacity: 1.0;
			}
			45%
			{
			opacity: .20;

			}
			100%
			{
			opacity: 1.0;
			}
			}

			#map_geolocation_graphicslayer_layer{
				-webkit-animation-duration: 3s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-name: pulse;
				-moz-animation-duration: 3s;
				-moz-animation-iteration-count: infinite;
				-moz-animation-name: pulse;
			}